.button {
  all: unset;
  cursor: pointer;
  background-color: #000;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  transition: all ease-in .2s;
  &:hover{
    background-color: #808080;
  }
}
