.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  span {
    font-weight: 600;
  }
}
