.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
